/* Hide the default checkbox */
input[type="checkbox"] {
  appearance: none;
  width: 24px;
  height: 24px;
  border: 2px solid #e78533;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

/* When checked, add space for the SVG */
input[type="checkbox"]:checked {
  background-color: #e78533;
  border-color: #e78533;
}

/* Custom container for AnimatedPinpoint */
.checkbox-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Spacing between checkbox and label */
}

/* Hide the checkmark initially */
.checkmark-pin {
  display: none;
}

/* Show the AnimatedPinpoint when checked */
input[type="checkbox"]:checked + .checkmark-pin {
  /* display: block; */
  display:  inline-block;
  width: 24px;
  height: 24px;
}
