/* .pinpoint-wrapper {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: baseline;
}

.pinpoint-container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: baseline;
} */
