/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400);
@import url(https://fonts.googleapis.com/css?family=Montserrat:700);

.app-container {
  display: flex;
  font-family: "Montserrat";
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}

.main-content {
  overflow-y: auto;
  padding: 25px;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  transform: translateY(20%);
  min-height: 70vh;
  min-width: 35vw;
}
