@import url(https://fonts.googleapis.com/css?family=Raleway:300,400);
@import url(https://fonts.googleapis.com/css?family=Montserrat:700);

.app-container {
  display: flex;
  font-family: "Montserrat";
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  /* background-color: aliceblue; */
  background-color: rgb(49, 43, 40);
}

.main-content {
  overflow-y: scroll;
  padding: 25px;
  /* border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  transform: translateY(15%); */
  height: 70vh;
  min-width: 35vw;
  margin: 10vh 0vw;
}

#R {
  font-weight: 500;
  font-style: oblique;
  color: red;
}
#D {
  font-weight: 500;
  font-style: oblique;
  color: blue;
}
#I {
  font-weight: 500;
  font-style: oblique;
  color: black;
}
#G {
  font-weight: bolder;
  font-style: oblique;
  color: green;
}

#L {
  font-weight: bolder;
  font-style: oblique;
  color: purple;
}