.usmap-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: transparent; */
}
.usmap-container {
  background-color: rgb(48, 48, 48);
  border-radius: 15px;
  padding: 10px;
}

.usmap-results-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex: 1 1 250px; 
}
