.usmap-page {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  /* width: 100%; */
  max-height: 90vw;
  transition: 2s ease;
  border: none;
  background-color: transparent;
  /* border: 2px solid yellow; */
}
.usmap-container {
  /* background-color: rgb(48, 48, 48); */
  /* border-radius: 15px; */
  /* padding: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: visible; */
  /* border: 2px solid green; */
  /* padding: 0px 5vw; */
  /* width: 120%; */
  /* height: 100%; */
  /* transform: scale(.75); */
  /* margin-left: 15vw; */
}

.usmap-results-container {
  /* width: 25%; */
  overflow-x: hidden;
  height: 80vh;
  /* flex: 1 1 250px; */
  overflow-y: scroll;
}
/* .usmap-container svg {
  width: 100%;
  height: 100%;
} */

.usmap-results-container button {
  margin: 5px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  right: 0;
}
.usmap-container svg path {
  fill: #9f5151;
  stroke: #05ea7f;
  stroke-width: 0.5;
  cursor: pointer;
}
/* .usmap-container svg path:hover {
  fill: #ffcc00;
}
.usmap-container svg path.active {
  fill: #ffcc00;
}
.usmap-container svg path.active:hover {
  fill: #ffcc00;
  stroke: #ffcc00;
  stroke-width: 4;
} */

/* .state-svg{
  width: 100%;
  height: 100%;
  transition: 0.3s ease;
  filter: brightness(1);
  border: 2px solid yellow;
  border-radius: 5px;
  cursor: pointer;}

.state-svg:hover{
  filter: brightness(0.8);
} */

.state-tooltip {
  position: "absolute";
  background-color: "black";
  color: "white";
  padding: "5px 10px";
  border-radius: "4px";
  font-size: "12px";
  visibility: "hidden";
  pointer-events: "none";
  content: "";
}
