.contact-form-container {
  position: fixed;
  top: 0;
  right: -100%;
  width: 500px;
  height: 70%;
  background: white;
  box-shadow: -3px 0 10px rgba(0, 0, 0, 0.2);
  padding: 40px;
  margin: 11vh 1vw;
  transition: right 0.75s ease-in-out;
  z-index: 99;
}

.contact-form-container.show {
  right: 0px;
}

.email-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 4vh;
  overflow-y: scroll;
  height: 15%;
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 15px;
}

.email-tag {
  background: #007bff;
  color: white;
  padding: 5px 10px;
  border-radius: 15px;
  display: flex;
  align-items: center;
}

.email-tag button {
  background: transparent;
  border: none;
  color: white;
  margin-left: 5px;
  cursor: pointer;
}

.message-box {
  width: 100%;
  height: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 3vh;
  font-family: 'Courier New', Courier, monospace;
}

.send-btn {
  width: 30%;
  padding: 10px;
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.send-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.close-btn {
  background: rgba(255, 0, 0, 0);
  color: rgb(255, 0, 0);
  border: none;
  font-size: 18px;
  font-weight: bolder;
  padding: 5px;
  float: right;
  cursor: pointer;
}
