.text-container {
  display: flex; /* Ensures letters appear in a single line */
  gap: 1.5px; /* Small spacing between letters */
  padding-right: 1vw;
}

.letter {
  display: inline-block;
  filter: blur(8px); /* Initial blur effect */
    font-weight: lighter;

}

.space {
  width: 15px; /* Ensures spaces appear properly */
}
