/* /* 🔹 Individual Official Checkboxes */
.checkbox-container {
  display: flex;
  align-items: center;
  gap: 1px;
  font-family: "Raleway";
  font-size: 14px;
  background-color: #ec373700 !important;
  padding: 5px 10px;
  /* border-radius: 5px; */
  /* border: 1px solid #ddd; */
  border-bottom: 1px solid #ddd !important;
  cursor: pointer;
  flex: 1 1 250px; /* ✅ Allows flexibility while wrapping */
}

/* 🔹 Checkbox Styling */
.checkbox-container input[type="checkbox"] {
  /* transform: scale(1.2); */
  cursor: pointer;
  /* border-radius: 25%; */
}

.card-wrapper {
  color: #232323;
  font-family: "Droid Sans", sans-serif;
  overflow: hidden;
  text-align: justify;
}


.checkbox-container span {
  color: #e78533;
  font-weight: 600;
  cursor: pointer;
}

.checkbox-container input[type="checkbox"] {
  transform: scale(1.2); /* Make checkboxes slightly larger */
  cursor: pointer;
}

