.officials-page-container {
  padding: 15px 0;
  width: 100%;
}

.officials-header {
  display: flex;
  align-items: center; /* Align dropdown and SVG on the same row */
  gap: 12px;
  margin: 2vh 0;
}

.states-dropdown {
  height: 40px;
  font-size: 1rem;
  padding: 10px 15px;
  outline: none;
  // border: 0px;
  box-shadow: 0 0 10px rgb(236, 233, 227);
  border-radius: 5px;
  margin-right: 1vw;
  font-weight: bold;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

.states-dropdown:hover {
  outline: none;
  box-shadow: 0 0 10px rgb(236, 233, 227);
  border-color: rgb(229, 215, 188);
  background-color: rgb(236, 233, 227);
  color: white;
}

.officials-container {
  display: flex;
  scrollbar-darkshadow-color: #333;
  scrollbar-color: #f5f5f5 #f5f5f5;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  flex-direction: row;
  align-items: start;
  width: 98%;
  margin: 0vh 0vw;
  overflow-y: scroll;
  height: 50vh;
  box-shadow: inset;
  padding: 0;
  /* Add custom scrollbar styles */
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
}

@keyframes makisuFold {
  0% {
    transform-origin: top;
    transform: rotateX(0deg);
    opacity: 1;
  }
  50% {
    transform: rotateX(-45deg);
    opacity: 0.5;
  }
  100% {
    transform: rotateX(-90deg);
    opacity: 0;
  }
}

@keyframes makisuDrop {
  0% {
    transform-origin: top;
    transform: rotateX(-90deg);
    opacity: 0;
  }
  50% {
    transform: rotateX(-45deg);
    opacity: 0.5;
  }
  100% {
    transform: rotateX(0deg);
    opacity: 1;
  }
}

.officials-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  justify-content: center;
  // width: 110%;
  max-width: 1200px;
  height: 100%;
  padding: 10px;
  perspective: 800px; /* Enhances 3D effect */

  /* Apply animations dynamically */
  .officials-list.makisuFold > * {
    animation: makisuFold 0.5s ease-out forwards;
  }

  .checkbox-container {
    animation: makisuDrop 0.6s ease-out forwards;
    opacity: 0;
  }
  // SCSS Loop: Apply delays dynamically for any number of items
  @for $i from 1 through 50 {
    .checkbox-container:nth-child(#{$i}) {
      animation-delay: #{$i * 0.1}s;
    }
  }
}

@media (max-width: 768px) {
  .officials-header {
    font-size: 1.5rem;
    height: fit-content;
    color: #333;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    text-shadow: 1px 3px 10px rgb(206, 175, 148);
  }

  .officials-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 98%;
    padding: 0px 5px 0px 0px;
    margin: 0vh 0vw;
    overflow-y: scroll;
    height: 50vh;
    flex-wrap: wrap;
    align-items: center; /* Added to center items vertically */
    justify-content: center; /* Added to center items horizontally */
  }
  .states-dropdown {
    font-size: 1.2rem;
    margin-left: 2vw;
  }
}

@media (max-width: 480px) {
  .officials-header {
    font-size: 1rem;
    height: fit-content;
    color: #333;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-shadow: 1px 3px 10px rgb(154, 147, 141);
  }

  .officials-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 98%;
    padding: 0px 5px 0px 0px;
    margin: 0vh 0vw;
    overflow-y: scroll;
    height: 50vh;
    flex-wrap: wrap; /* Added to allow wrapping of items */
    align-items: center; /* Added to center items vertically */
    justify-content: center; /* Added to center items horizontally */
  }
}
