.officials-page-container {
  padding: 15px 0;
  width: 100%;
}

.officials-header {
  display: flex;
  align-items: center; /* Align dropdown and SVG on the same row */
  gap: 12px;
  margin: 1vh 0;
}

.states-dropdown {
  height: 40px;
  font-size: 1rem;
  padding: 10px 15px;
  border: 2px solid rgb(255, 174, 0);
  border-radius: 5px;
  margin-right: 1vw;
  font-weight: bold;
  cursor: pointer;
}

.officials-container {
  display: flex;
  flex-direction: row;
  align-items: start;
  width: 98%;
  // padding: 0px 5px 0px 0px;
  margin: 0vh 0vw;
  overflow-y: scroll;
  height: 60vh;
  box-shadow: inset;
}

@keyframes makisuFold {
  0% {
    transform-origin: top;
    transform: rotateX(0deg);
    opacity: 1;
  }
  50% {
    transform: rotateX(-45deg);
    opacity: 0.5;
  }
  100% {
    transform: rotateX(-90deg);
    opacity: 0;
  }
}

@keyframes makisuDrop {
  0% {
    transform-origin: top;
    transform: rotateX(-90deg);
    opacity: 0;
  }
  50% {
    transform: rotateX(-45deg);
    opacity: 0.5;
  }
  100% {
    transform: rotateX(0deg);
    opacity: 1;
  }
}

.officials-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  justify-content: center;
  width: 110%;
  max-width: 1200px;
  height: 100%;
  padding: 10px;
  perspective: 800px; /* Enhances 3D effect */

  /* Apply animations dynamically */
  .officials-list.makisuFold > * {
    animation: makisuFold 0.5s ease-out forwards;
  }

  .checkbox-container {
    animation: makisuDrop 0.6s ease-out forwards;
    opacity: 0;
  }
  // SCSS Loop: Apply delays dynamically for any number of items
  @for $i from 1 through 50 {
    .checkbox-container:nth-child(#{$i}) {
      animation-delay: #{$i * 0.1}s;
    }
  }
}

  @media (max-width: 480px) {
    .officials-header {
      // width: fit-content;
      font-size: 1rem;
      height: fit-content;
      color: #333;
      box-sizing: border-box;
      text-align: center;
      display: flex;
      // flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      border: 1px solid red;
    }

    .officials-container {
      display: flex;
      flex-direction: row;
      align-items: start;
      width: 98%;
      padding: 0px 5px 0px 0px;
      margin: 0vh 0vw;
      overflow-y: scroll;
      height: 35vh;
      box-shadow: inset;
      flex-wrap: wrap; /* Added to allow wrapping of items */
      align-items: center; /* Added to center items vertically */
      justify-content: center; /* Added to center items horizontally */
      border: 1px solid blue; /* Added border for better visibility */
    }
  }
