.footer {
  background: var(--secondary-color);
  text-align: center;
  padding: 5px 0px;
  border-radius: var(--border-radius);
  width: 100%;
  position: fixed;
  bottom: -0;
  font-family: "Raleway";
  /* background-color: #f9f9f9; */
  margin: 0;
  height: fit-content;
  box-shadow: 4px 0px 15px rgba(0, 0, 0, 0.2);
}
.footer-p {
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .footer {
    font-size: 0.8rem;
    bottom: -10vh;
    box-shadow: 2px 0px 0px rgba(0, 0, 0, 0.2);
    width: 100%;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .footer-p {
    margin: 0;
  }
}
