.footer {
  background: var(--secondary-color);
  text-align: center;
  padding: 16px;
  border-radius: var(--border-radius);
  width: 100vw;
  position: sticky;
  bottom: 0rem;
  font-family: "Raleway";
  background-color: #f9f9f9;
  margin: 0;
  padding: 0px 0px 15px;
  /* max-height: 5vh; */
  /* min-height: 3vh; */
  height: 4vh;
  box-shadow: 4px 0px 15px rgba(0, 0, 0, 0.2);
}
